# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/frontend/node_modules/
*/node_modules/
*/__pycache__/
/.env
/Monthly_Status_Reports
/backend/.env

# testing
/coverage

# production
/build
/backend/transcripts/
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/public
/src
/node_modules
READMEforREACT.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
